.main {
background-color: rgba(206, 144, 9, 0.945);
text-align: center;
color: rgb(224, 248, 86);
border-radius: 15px;
}

.calcarea {
  margin-top: 50px;
  padding-top: 10px;
  height: 400px;
  display: flex;
  flex-direction:column ;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: rgba(68, 19, 124, 0.836);
  border-radius: 15px;
}

.internal_form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 900px;
  
}

.all_images {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
  height: 150px;
  padding-bottom: 20px;
}
.plan {
  margin-right: 3px;
  background-color: rgb(253, 208, 57);
  color: rgb(113, 59, 129);
  border-radius: 15px;
}

.noplan{
  margin-left: 3px;
  background-color: hsla(252, 62%, 84%, 0.774);
  color: rgb(124, 118, 118);
  border-radius: 15px;
}

#btncalc {
  background-color: rgb(253, 208, 57);
  border-color:rgba(206, 186, 9, 0.945);
  font-size: 20px;
  font-weight: bold;
  color: rgb(113, 59, 129);
  border-radius: 8px;
}

#topo {
  padding-top: 20px;
  color: rgb(113, 59, 129);
}

label {
padding-right: 1px;
font-size: 20px;
}